/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* VARIABLES CSS */
:root {
    /* base */
    --font-family: "Poppins", sans-serif;
    --font-size: ;
    --background-color: #FFFFFF;
    --color: ;

    /* header */
    --title-color: ;
    --title-weight: ;

    /* title */
    --title-weight: 400;
    --title-font-size: 27px;
    --title-line-height: 40.5px;

    --title-span-weight: 700;

    /* btn */
    --btn-background: #38BC7D;
    --btn-color: #fff;
    --btn-weight: 600;
    --btn-font-size: 32px;
    --btn-line-height: 48px;
}

/* BASE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-color: var(--background-color);
    color: var(--color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--title-weight);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ==================== TITLE ==================== */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem
}

h2 {
    font-weight: var(--title-weight);
    font-size: var(--title-font-size);
    line-height: var(--title-line-height);
    display: flex;
    flex-direction: column;
}

h2 span {
    font-weight: var(--title-span-weight);
}

#poulet {
    width: 240px;
}

a {
    background-color: var(--btn-background);
    padding: 13px 56px;
    border-radius: 999px;
    color: var(--btn-color);
    text-transform: uppercase;
    font-weight: var(--btn-weight);
    font-size: var(--btn-font-size);
    line-height: var(--btn-line-height);
    transition: .3s ease-out;
}

#coq {
    position: absolute;
    top: 32px;
    left: 37px;
    width: 76px;
    height: 81px;
}